/* Rest */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main wrapper */
.wrapper {
  width: 100vw;
  min-height: 100vh;
  background-color: whitesmoke;
  overflow-x: hidden;
}

/* Navbar */
.navbar {
  width: 100%;
  background-color: #161a1a;
  color: #fff;
  display: flex;
  justify-content: flex-start;
  padding: 15px;
}

.navbar-brand {
  margin-left: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: gold;
}

.navbar ul {
  margin-left: auto;
  margin-right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.navbar ul li {
  margin: 0 15px;
  font-size: 20px;
  cursor: pointer;
}

.navbar ul li:hover {
  color: gold;
}

/* Hero */
.hero {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('../img/hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

.hero p {
  margin: 10px auto;
}

.btn {
  background-color: gold;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  color: #2e2e2e;
}
